.button{

    font-size: 100%;
    padding: 14px 40px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.clearButton{

  font-size: 110%;
  opacity: 0.4;
  cursor: not-allowed;
  color: #f44336;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.info{

  /* Info blurb at top of page */

  border-style: solid;
  border-width: thin;
  border-color: #7EC6FF;
  width: 35%;
  height: 100px;
  padding-top: 50px;
  text-align: center;
  margin-left: 10%;

}

.subHead{

  margin-left:10%;

}

.descript{

  font-family: "Lucida Sans Unicode";
  font-weight: normal;
  font-size: 100%;
  margin-left:10%;
}

.select{

  font-size: 200%;

}

.calendar{

  margin:0%;
}

.footerText{

  font-family: "Lucida Sans Unicode";
  font-weight: normal;
  font-size: 100%;
  text-align: center;
}
